%nav
  .nav-wrapper
    .brand-logo#logo
      =link_to "BLOG", root_path
    %ul.right.hide-on-med-and-down#nav-mobile.nav_lists
      %li
        =link_to "Singin", root_path
      %li
        =link_to "SingOut", root_path
      %li
        =link_to "New", new_post_path
