.posts
  .card
    .card--content
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    .card--buttons
      .waves-effect.waves-light.btn
        =link_to "Show", root_path
      .waves-effect.waves-light.btn
        =link_to "Edit", root_path
      .waves-effect.waves-light.btn
        =link_to "destryo", root_path

  .card
    .card--content
      bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    .card--buttons
      .waves-effect.waves-light.btn
        =link_to "Show", root_path
      .waves-effect.waves-light.btn
        =link_to "Edit", root_path
      .waves-effect.waves-light.btn
        =link_to "destryo", root_path

  .card
    .card--content
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    .card--buttons
      .waves-effect.waves-light.btn
        =link_to "Show", root_path
      .waves-effect.waves-light.btn
        =link_to "Edit", root_path
      .waves-effect.waves-light.btn
        =link_to "destryo", root_path

  .card
    .card--content
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    .card--buttons
      .waves-effect.waves-light.btn
        =link_to "Show", root_path
      .waves-effect.waves-light.btn
        =link_to "Edit", root_path
      .waves-effect.waves-light.btn
        =link_to "destryo", root_path
















